html {
  background-color:coral;
}
body{
  font-family:'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
}
nav {
  width: 80%;
  background-color:lightblue;
 
}
header{
  background-color: cornsilk;
}
main {
  background-color: lightyellow;
  font-size: medium;
}
footer {
  background-color: cornsilk;
}
li {
    /* display: block;
    width: 100px; */
    

}
h1 {
    text-align: center;
    font-family: sans-serif;
    color: blue;
}
p {
    line-height: 25px;
}
nav img{
  width: 10%;
}
.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
}
.grid img{
  width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

