html {
  background-color:coral;
}
body{
  font-family:'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
}
nav {
  background-color:light-blue;
}
header{
  background-color: cornsilk;
}
main {
  background-color: crimson;
  font-size: medium;
}
footer {
  background-color: cornsilk;
}
